Repository apollographql/apollo-tooling, pull requests merged in 2018-06, with the labels that each got.

#399 Emit JSDoc comments for TypeScript types and enums
  src/typescript/codeGeneration.ts
  src/typescript/language.ts
  test/typescript/__snapshots__/codeGeneration.js.snap
Labels: feature, typescript

#424 [ts-modern] export generated input types
  src/javascript/typescript/__tests__/__snapshots__/codeGeneration.ts.snap
  src/javascript/typescript/language.ts
Labels: bug, feature

#422 fix #421 - generate $Exact InputObject annotations
  src/javascript/flow/__tests__/__snapshots__/codeGeneration.ts.snap
  src/javascript/flow/language.ts
Labels: bug, flow

#419 fix inconsistent treatment of passthrough-custom-scalars
  src/cli.js
  src/javascript/flow/__tests__/helpers.ts
  src/javascript/flow/helpers.ts
  src/javascript/typescript/__tests__/helpers.ts
  src/javascript/typescript/helpers.ts
Labels: bug, flow, typescript
