Repository apollographql/apollo-tooling, pull requests merged in 2019-10, with the labels that each got.

#1489 Support federated service:check/push with local schema file
  CHANGELOG.md
  package-lock.json
  packages/apollo-codegen-core/package.json
  packages/apollo-codegen-flow/package.json
  packages/apollo-codegen-scala/package.json
  packages/apollo-codegen-swift/package.json
  packages/apollo-codegen-typescript/package.json
  packages/apollo-language-server/package.json
  packages/apollo-language-server/src/project/base.ts
  packages/apollo-language-server/src/project/service.ts
  packages/apollo-language-server/src/providers/federation-info/base.ts
  packages/apollo-language-server/src/providers/federation-info/endpoint.ts
  packages/apollo-language-server/src/providers/federation-info/index.ts
  packages/apollo-language-server/src/providers/schema/__tests__/file.ts
  packages/apollo-language-server/src/providers/schema/base.ts
  packages/apollo-language-server/src/providers/schema/endpoint.ts
  packages/apollo-language-server/src/providers/schema/engine.ts
  packages/apollo-language-server/src/providers/schema/file.ts
  packages/apollo-language-server/src/providers/schema/index.ts
  packages/apollo/README.md
  packages/apollo/package.json
  packages/apollo/src/Command.ts
  packages/apollo/src/commands/service/check.ts
  packages/apollo/src/commands/service/push.ts
  packages/vscode-apollo/package.json
Labels: :computer: language-server, :hammer: cli, :tada: feature

#1533 swift: Fix initializers with field named `self`
  CHANGELOG.md
  packages/apollo-codegen-swift/src/__tests__/__snapshots__/codeGeneration.ts.snap
  packages/apollo-codegen-swift/src/__tests__/codeGeneration.ts
  packages/apollo-codegen-swift/src/codeGeneration.ts
  packages/apollo-codegen-swift/src/helpers.ts
  packages/apollo-codegen-swift/src/language.ts
Labels: :bird: swift, 🤖 codegen

#1589 swift: Fix codegen with empty input objects / arrays
  CHANGELOG.md
  packages/apollo-codegen-swift/src/__tests__/codeGeneration.ts
  packages/apollo-codegen-swift/src/codeGeneration.ts
  packages/apollo-codegen-swift/src/helpers.ts
  packages/apollo-codegen-swift/src/language.ts
Labels: :bird: swift, 🤖 codegen

#1470 Add sdl download ability to client:download-schema
  .gitignore
  CHANGELOG.md
  packages/apollo/src/commands/client/download-schema.ts
Labels: :hammer: cli, :tada: feature
