Repository apollographql/apollo-tooling, pull requests merged in 2019-08, with the labels that each got.

#1451 Swift: Fix regression for individual files.
  CHANGELOG.md
  packages/apollo-codegen-swift/src/__tests__/codeGeneration.ts
  packages/apollo-codegen-swift/src/__tests__/language.ts
  packages/apollo-codegen-swift/src/codeGeneration.ts
  packages/apollo-codegen-swift/src/language.ts
Labels: :bird: swift, 🤖 codegen

#1441 Swift Codegen Upgrades
  CHANGELOG.md
  packages/apollo-codegen-swift/src/__tests__/__snapshots__/codeGeneration.ts.snap
  packages/apollo-codegen-swift/src/__tests__/codeGeneration.ts
  packages/apollo-codegen-swift/src/codeGeneration.ts
  packages/apollo-codegen-swift/src/language.ts
  packages/apollo/src/commands/client/__tests__/__snapshots__/generate.test.ts.snap
Labels: :bird: swift, 🤖 codegen

#656 filter objects in getter to only include known typenames
  packages/apollo-codegen-swift/src/__tests__/__snapshots__/codeGeneration.ts.snap
  packages/apollo-codegen-swift/src/codeGeneration.ts
Labels: :bird: swift

#1429 Standardize language server errors
  CHANGELOG.md
  packages/apollo-language-server/src/config/__tests__/loadConfig.ts
  packages/apollo-language-server/src/config/loadConfig.ts
  packages/apollo-language-server/src/index.ts
  packages/apollo-language-server/src/server.ts
  packages/apollo-language-server/src/utilities/debug.ts
  packages/apollo-language-server/src/utilities/index.ts
  packages/apollo-language-server/src/workspace.ts
  packages/apollo/src/Command.ts
  packages/vscode-apollo/src/debug.ts
  packages/vscode-apollo/src/extension.ts
Labels: :hammer: cli, :spiral_notepad: vscode, :x: errors
