Repository apollographql/apollo-tooling, pull requests merged in 2019-07, with the labels that each got.

#1226 Append terminating newline to output
  CHANGELOG.md
  packages/apollo/src/commands/client/__tests__/__snapshots__/generate.test.ts.snap
  packages/apollo/src/generate.ts
Labels: :bird: swift, 🤖 codegen

#1386 [airbnb] Update Swift codegen to add operation name to generated query classes
  CHANGELOG.md
  packages/apollo-codegen-swift/src/__tests__/__snapshots__/codeGeneration.ts.snap
  packages/apollo-codegen-swift/src/codeGeneration.ts
  packages/apollo/src/commands/client/__tests__/__snapshots__/generate.test.ts.snap
Labels: :bird: swift

#1415 Change status bar name
  CHANGELOG.md
  packages/vscode-apollo/src/statusBar.ts
Labels: :spiral_notepad: vscode, :tada: feature

#1413 Add helpful message for invalid API key
  CHANGELOG.md
  packages/apollo-language-server/src/engine/index.ts
  packages/apollo-language-server/src/project/client.ts
  packages/apollo-language-server/src/providers/schema/engine.ts
  packages/apollo/src/index.ts
Labels: :spiral_notepad: vscode, :x: errors

#1241 Skip redundant modifiers
  CHANGELOG.md
  packages/apollo-codegen-swift/src/__tests__/language.ts
  packages/apollo-codegen-swift/src/codeGeneration.ts
  packages/apollo-codegen-swift/src/language.ts
Labels: :bird: swift, 🤖 codegen
